body {
	background: black;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 48.0em;
	height: 64.0em;
	margin-left: -24.0em;
	margin-top: -32.0em;
	overflow: hidden;
	background: url("../images/sky.jpg") no-repeat scroll center -48em transparent;
}
.Background {
	width: 480.0em;
	height: 64.0em;
	background: url("../images/san-francisco-skyline.png") repeat-x scroll 0 18em transparent;
}
.Sidewalk {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 48.0em;
	height: 9.8em;
	background: url("../images/sidewalk.jpg") repeat-x scroll 0 0 transparent;
}
.Player {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../images/tommy.png");
	background-size: cover;
}
.Player.falling {
	background-position: 100% 0;
}
.Player-Score {
	padding-top: 0.7em;
	font-family: 'Press Start 2P';
	font-size: 3em;
	color: white;

}
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 3em;
	height: 32em;
	width: 30em;
	margin-left: -15em;
	box-sizing: border-box;
	background: gray;
	text-align: center;
	border: solid 0.5em;
	border-color: white;
	opacity: 0.8 ;
	border-radius: 2em;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}
/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}
.Scoreboard-restart {
	margin-top: 2em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Press Start 2P', serif;
	font-size: 2.4em;
	color: white;
}
.browsehappy {
	background: ‪#CCCCCC;
	color: #000000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}
